<html>
    <body>
        {% for match in matches %}
            <h2>{{ match.name }}</h2>
            <h3>{{ match.brand }}</h3>
            <img height="270px" width="300px" src="{{match.image_url}}">
            <p>{{ match.score }}</p>
        {% endfor %}
    </body>
</html>

